<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% extends 'html.html' %}

    {% block title %}
    HOME
    {% endblock %}

    {% block content %}
    
    <section id="HOME">
        <div class="main-content">
            <div class="internal-box internal-box1">
                <h1 class="text subtitle">
                    <i class="fa fa-quote-left fa-1x" style="color: gold" aria-hidden="true"></i> 
                    Tell me and I forget, teach me and I may remember, involve me and I learn. 
                    <i class="fa fa-quote-right fa-1x" style="color: gold" aria-hidden="true"></i><br>─ Benjamin Franklin
                </h1>
            </div>
            <div class="internal-box internal-box2">
                <h1 class="text subtitle">
                    <i class="fa fa-quote-left fa-1x" style="color: gold" aria-hidden="true"></i> 
                    The only source of knowledge is experience. 
                    <i class="fa fa-quote-right fa-1x" style="color: gold" aria-hidden="true"></i><br>─ Albert Einstein
                </h1>
            </div>
        </div>
    </section>
    

        
        
    <section id="ABOUT">
        <div class="about-wrapper">
          <div class="left-column">
            <div class="header-row">
              <h1>What is <br><span style="color: gold;">The Real <br>World?</span></h1>
              <img class="planet-icon" src="https://huizjjyrhmxufwgkfwiu.supabase.co/storage/v1/object/public/sida/images/trw3.png" alt="Planet Logo">
            </div>
      
            <div id="AboutInfo">
              <div id="ett"> 
                <h2>The Real World is a <span style="color: gold;">global community</span><br>
                where like-minded individuals are striving to acquire an <br> abundance of wealth.</h2>
              </div>
              <div id="två">
                <h2>Every member receives <span style="color: gold;">advanced training and <br> mentoring</span> 
                from our team of millionaire industry <br> specialists.</h2>
              </div>
            </div>
          </div>
          <div class="right-column">
            <img class="tr4" src="https://huizjjyrhmxufwgkfwiu.supabase.co/storage/v1/object/public/sida/images/gays911.png" alt="Two men posing">
          </div>
      
        </div>
      </section>
      
      
      

    <section id="BLOG">
        <div class="rubriktvå">
            <h1>What Do I Get Access To?</h1>
        </div>

        
        <div class="lådaett">
            <div class="text-content">
                <div class="border">
                    <div class="icon2">
                        <img src="https://huizjjyrhmxufwgkfwiu.supabase.co/storage/v1/object/public/sida/images/users-solid.svg" alt="My Icon" width="36" height="36">
                    </div>
                </div>
                <h2 class="step">Step by Step Blueprint</h2>
                <ul>
                    <li><strong>Easy-to-follow program</strong> for financial success</li>
                    <li>Quickly learn <strong>high-income skills</strong></li>
                    <li>Secrets of how the wealthy <strong>manage money</strong></li>
                    <li>Scale from <strong>Zero to $10K/month</strong> as fast as possible</li>
                </ul>
            </div>
            <img class="tr5" src="https://huizjjyrhmxufwgkfwiu.supabase.co/storage/v1/object/public/sida/images/tr5.png" alt="Blueprint Image">
        </div>

        <div class="ladatva">
            <div class="text-content">
                <div class="bordertva">
                    <div class="icon3">
                        <img src="https://huizjjyrhmxufwgkfwiu.supabase.co/storage/v1/object/public/sida/images/medal-solid.svg" alt="My Icon" width="36" height="36">
                    </div>
                </div>
            
        
                <div>
                    <h2 class="step2">Private Network <br>& Community</h2>
                </div>
        
                <div class="lisartva">
                    <ul>
                        <li>Network with <span style="font-weight: bolder;">200,000+ people </span> on the <span style="font-weight: bolder;"> same mission</span></li>
                        <li>Learn from <span style="font-weight: bolder;">real world results </span>and examples</li>
                        <li><span style="font-weight: bolder;">Make like-minded friends </span>on your financial journey</li>
                        <li><span style="font-weight: bolder;">Celebrate your wins</span> with people who will understand</li>
                    </ul>
                </div>
            </div>
            <img class="tr6" src="https://huizjjyrhmxufwgkfwiu.supabase.co/storage/v1/object/public/sida/images/tr6.png" alt="My Image">
        </div>
        
        

    <div class="ladatre">
        <div class="text-content">
            <div class="bordertre">
                <div class="icon4">
                    <img src="https://huizjjyrhmxufwgkfwiu.supabase.co/storage/v1/object/public/sida/images/user-tie-solid.svg" alt="My Icon" width="36" height="36">
                </div>
            </div>

            <div>
                <h2 class="step3">Multi millionaires<br>In Your Pocket</h2>
            </div>

            <div class="lisartre">
                <ul>
                    <li>Professors will <span style="font-weight: bolder;">lay out a plan </span> that works for YOU</li>
                    <li>You'll be <span style="font-weight: bolder;">mentored every step </span>of your journey</li>
                    <li><span style="font-weight: bolder;">1-on-1 communication </span>and advice from industry experts</li>
                    <li>Get access to opportunities <span style="font-weight: bolder;">only available in TRW</span></li>
                </ul>
            </div>
                <img class="tr7" src="https://huizjjyrhmxufwgkfwiu.supabase.co/storage/v1/object/public/sida/images/tr7.png" alt="My Image">
        </div>        
    </div>


</section>

<section id="JOIN">
    <h1 class="rubriktre">Escape the<br><span style="color: gold;"> Ordinary Today</span></h1>
    <div id="JOINInfo">
        <div id="ettett"> 
            <h2>Welcome to <span style="color: gold;">The Success Network</span>, a <br> global community where ambitious individuals <br> come together to achieve true financial freedom.</h2>
            <h2>Here, you will gain access to <span style="color: gold;">cutting-edge training and <br>personalized mentoring</span> from our team of highly successful <br> industry experts.</h2>
            <h2>Our courses are designed to help you <br><span style="color: gold;">build wealth and thrive</span> in today’s competitive world.</h2>
            <h2>Join a network of like-minded individuals <br> committed to success. Start your journey <br> today and unlock your full potential!</h2>

            <img class="tvåtvå" src="https://huizjjyrhmxufwgkfwiu.supabase.co/storage/v1/object/public/sida/images/learn-all-digital-skills.png" alt="My Image">
        </div>
    </div>

    <div id="skills">
        <h2 class="title2">Learn All Digital Skills</h2>
        

        <div style="display: flex; flex-direction: row; flex-wrap: wrap; overflow: hidden; max-width: 100%;">

            <div class="info">
                <div class="orange-line"></div>
                <h2 class="heading">The business models we teach are:</h2>
                <ul class="styled-list">
                    <li><span>completely online</span></li>
                    <li><span>location independent</span></li>
                    <li><span>advice from industry experts</span></li>
                    <li><span>powered by ai technology</span></li>
                </ul>
            </div>
            
            <div class="bilder">
                <img class="tr8" src="https://huizjjyrhmxufwgkfwiu.supabase.co/storage/v1/object/public/sida/images/tr8.webp" alt="My Image">
            </div>
        </div>

        <div class="widgets-container">
            <div class="widgets">
                <a href="{{ url_for('video_page', video_name='copywriting') }}">
                    <img src="https://huizjjyrhmxufwgkfwiu.supabase.co/storage/v1/object/public/sida/images/copywriting-icon.webp" alt="My Image">
                    <p>Copywriting</p>
                </a>
            </div>
            <div class="widgets">
                <a href="{{ url_for('video_page', video_name='client-acquisition') }}">
                    <img src="https://huizjjyrhmxufwgkfwiu.supabase.co/storage/v1/object/public/sida/images/client-acquisition-icon.webp" alt="My Image">
                    <p>Client Acquisition</p>
                </a>
            </div>
            <div class="widgets">
                <a href="{{ url_for('video_page', video_name='ecommerce') }}">
                    <img src="https://huizjjyrhmxufwgkfwiu.supabase.co/storage/v1/object/public/sida/images/ecommerce-icon.webp" alt="My Image">
                    <p>Ecommerce</p>
                </a>
            </div>
            <div class="widgets">
                <a href="{{ url_for('video_page', video_name='health') }}">
                    <img src="https://huizjjyrhmxufwgkfwiu.supabase.co/storage/v1/object/public/sida/images/health-icon.webp" alt="My Image">
                    <p>Health & Fitness</p>
                </a>    
            </div>
            <div class="widgets">
                <a href="{{ url_for('video_page', video_name='content-creation') }}">
                    <img src="https://huizjjyrhmxufwgkfwiu.supabase.co/storage/v1/object/public/sida/images/content-creation-icon.webp" alt="My Image">
                    <p>Content Creation</p>
                </a>
            </div>
        </div>
    </div>

    <div id="skills">
    <h2 class="title2">Modern Market Strategies</h2>
    <div style="display: flex; flex-direction: row; flex-wrap: wrap; overflow: hidden; max-width: 100%;">
            <div class="info">
                <div class="orange-line"></div>
                <p>Our strategies are designed to help you achieve your objectives based on your available time and resources.</p>
            </div>
            <div class="widgets-container">
                <div class="widgets">
                    <a href="{{ url_for('video_page', video_name='defi') }}">
                        <img src="https://huizjjyrhmxufwgkfwiu.supabase.co/storage/v1/object/public/sida/images/crypto-icon.webp" alt="My Image">
                        <p>Defi</p>
                    </a>
                </div>
                <div class="widgets">
                    <a href="{{ url_for('video_page', video_name='markets') }}">
                        <img src="https://huizjjyrhmxufwgkfwiu.supabase.co/storage/v1/object/public/sida/images/market-icon.webp" alt="My Image">
                        <p>Markets</p>
                    </a>
                </div>

            </div>
        

        <div class="bilder">
            <img class="tr9" src="https://huizjjyrhmxufwgkfwiu.supabase.co/storage/v1/object/public/sida/images/tr9.png" alt="My Image">
        </div>
    </div>
</div>

<div id="skills">
    <h2 class="title2">Automate Your Business</h2>
    <div style="display: flex; flex-direction: row; flex-wrap: wrap; overflow: hidden; max-width: 100%;">
            <div class="info">
                <div class="orange-line"></div>
                <p>Learn how to manage your business and outsource so you can focus on what is important for continued growth.</p>
            </div>
            <div class="widgets-container">
                <div class="widgets">
                    <a href="{{ url_for('video_page', video_name='mindset') }}">
                        <img src="https://huizjjyrhmxufwgkfwiu.supabase.co/storage/v1/object/public/sida/images/mindset-icon.webp" alt="Mindset Icon">
                        <p>Entrepreneurial Mindset</p>
                    </a>
                </div>
                <div class="widgets">
                    <a href="{{ url_for('video_page', video_name='business') }}">
                        <img src="https://huizjjyrhmxufwgkfwiu.supabase.co/storage/v1/object/public/sida/images/business-icon.webp" alt="Business Icon">
                        <p>Bussiness Mastery</p>
                    </a>
                </div>
                <div class="widgets">
                    <a href="{{ url_for('video_page', video_name='artifical-intelligence') }}">
                        <img src="https://huizjjyrhmxufwgkfwiu.supabase.co/storage/v1/object/public/sida/images/artificial-intelligence-icon.webp" alt="AI Icon">
                        <p>Artificial Inteligence</p>
                    </a>
                </div>
            </div>
        

        <div class="bilder">
            <img class="tr10" src="https://huizjjyrhmxufwgkfwiu.supabase.co/storage/v1/object/public/sida/images/tr10.webp" alt="Business Automation Graphic">
        </div>
    </div>
</div>


    </div>
    </div>

</section>


<script>
    document.querySelectorAll('nav a').forEach((elem) => {
        elem.addEventListener('click', function(event) {
            const targetBlock = this.getAttribute('href').split('#')[1];

            if (window.location.pathname === "{{ url_for('home') }}") {
                // Om vi redan är på home.html, scrolla direkt
                event.preventDefault();
                document.getElementById(targetBlock)?.scrollIntoView({ behavior: 'smooth' });
            } else {
                // Om vi är på en annan sida, spara målet och gå till home.html
                sessionStorage.setItem('scrollTo', targetBlock);
            }
        });
    });


</script>


<!-- <script>
    document.addEventListener("DOMContentLoaded", function () {
    const images = document.querySelectorAll('.tr5, .tr6, .tr7');

    const observer = new IntersectionObserver(entries => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                entry.target.style.transform = 'scale(1.5)';
            } else {
                entry.target.style.transform = 'scale(1)';
            }
        });
    }, { threshold: 0.10 }); 
    images.forEach(image => observer.observe(image));
});

</script> -->

{% endblock %}
</body>
</html>